<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d8743a4f35.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>

<body>
 <article class="background">


  <header id="first-header">

      <nav class="header">
        
        <a href="/home" class="logo"><img src="/images/Logo.svg" style="width: 5em; height: 4em;" alt="Custom Logo"></a>
        <ul class="menu_list">
          <li><a href="/home">Home</a></li>
          <li><a href="#" class="travelling_services">Travelling Services </a></li>
          <li><a href="/registration">Room Listing</a></li>
          <li><a href="/sign_up" class="user_registration">User Registration</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="/login" id="user_login" class="user_login">Login <i class="fas fa-user-circle"></i></a></li>
        </ul>
      </nav>

    </header>

</article>

<section>
  {{{body}}}
</section>

<script type="text/javascript">
   
</script>

</body>

  <footer>
   <div class="footer"> 
    <div class="newsletter">
      <h2>STAY CONNECTED</h2>
      <p>Sign Up for our newsletter and be the first one to get updates & specials</p>
      <input type="text" id="email_input" placeholder="Enter your email here"> 
      <button type="submit" class="subscribe_button">Subscribe</button>
    </div>

    <div>
      <ul class="termsAndConditions">
        <li><a href="#">About</a></li>
        <li><a href="#">News and Press</a></li>
        <li><a href="#">Careers </a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">TravellingBud Privacy Policies </a></li>
      </ul>
    </div>
    <div class="icons">
      <ul>
        <h2>FOLLOW US ON SOCIAL MEDIA</h2>
        <li><a href="#"><i class="fab fa-facebook-f" style="color: #3b5998;"></i> </a></li>
        <li><a href="#"><i class="fab fa-instagram" style="color:  #f53844;"></i> </a></li>
        <li><a href="#"><i class="fab fa-snapchat-ghost" style="color: #F0F23D;"></i> </a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></i> </a></li>
      </ul>
     </div> 
    </div>

    <div class="copyrights">
      <h3>&copy; Copyright 2020. All Rights Reserved.</h3>
    </div>

  </footer>
</html>