<title>{{title}}</title>
<div class="card">
    <img src="../CSS and Images/images/pic1.jpg" alt="" style="width: 100%;">
    <div class="description"></div>
        <h4>Entire Apartment</h4>
    </div>

</div>



