@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*{
    margin:0;
    padding: 0;
}

html{
    font-family: 'Playfair Display', serif;;
}

nav{
    display: flex;
    place-content: space-evenly;
    list-style-type: none;
    background-color: #FF5A5F;
    height: 6em;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown{
    overflow: hidden;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 3rem;
    color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown .dropbtn{
    background-color:#FF5A5F ;
    text-decoration: none;
    border: none;
    color: whitesmoke;
    font-size: 1em;
    font-family: 'Playfair Display';
}

.logo{
    display: inline-block;
}

.header a, .dropdown{
    color: whitesmoke;
    transition: all 0.3s ease-in;
    font-size: 1.3rem
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.8em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: none;
}

.header a:hover{
    font-size: 1.1rem;
    color: gray;
}

 .dropbtn:hover{
    color: gray; 
} 


.dropdown-content a:hover{
    background-color: #ddd;
}

.header a{
    text-decoration: none;
}

/******************* BOOKING FORM **********************/

.booking-form{
    border: 1px solid red;
    margin: 2em 2em;
    max-width: 30em;
    border-radius: 1em;
    background-color: seashell;
}

.booking_form_article{
    margin: 2em;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.submit_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 0em;
    border-radius: 5px;
    background-color:#FF5A5F;
    color: white;
    padding: 0.6em;
    text-shadow: none;
}

.submit_btn:hover{
    cursor: pointer;
    background-color: lightsalmon;
    color: black;
}

.tagline-div, .tagline-div h2{
    margin-bottom: 1em;
}

#destination{
    margin-top: 1em;
}

.check_in, .check_out
{
    margin-bottom: 0.5em;
}

 .check_in_input, .check_out_input{
    margin-bottom: 1em;
}

.guest_menu{
    margin-top: 1em;
}

/****************** BODY BACKGROUND *******************/
/* 
.main-area{
    background-image: url('../images/Home Background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    
} */

/*************MODAL POPUP ******************/

.modal{
    background-color: rgb(0, 0,0,0.8);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__contents{
        background-color: white;
        padding:2rem 4rem;
}

input[type="email"]{
    width: 93%;
    padding: 1em;
    margin-bottom: 1em;
}

input[type="password"]{
    width: 93%;
    padding: 1em;
}

input[type="text"]{
    display: block;
    width: auto;
    padding: 1em;
}

.modal_close_bar{
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -1rem;
    cursor: pointer;
    margin-bottom: 1em;
}

.modal_close_bar_new{
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -1rem;
    cursor: pointer;
    margin-bottom: 1em;
}

.modal_close_bar_new:hover{
    color: red;
}

.modal_hidden{
    display: none;
}

.modal_close_bar :hover{

    color: red;
}   

.fcbk_login{
    width: 100%;
    padding: 1em;
    color: white;
    background-color: rgb(66,103,178);
    font-size: 1em;
    font-family: 'Playfair Display'
}

.google_login{
    width: 100%;
    padding: 1em;
    color: black;
    background-color: whitesmoke;
    font-size: 1em;
    margin: 0.5em 0em;
    font-family: 'Playfair Display'
}

.fcbk_login:hover{
    background-color: blue;
    cursor: pointer;    
}

.google_login:hover{
    background-color: lightyellow;
    cursor: pointer;    
}

.or{
   text-align: center;
   margin-bottom: 1em;
}

.login_btn{
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    font-family: 'Playfair Display';
    background-color: #FF5A5F;
    font-weight: bold;
    color:whitesmoke;
}

.login_btn:hover{
    background-color: rgb(255, 51, 57);
    cursor: pointer;
}

.rmbr_me_chkbx{
    background-color: rgb(66,103,178);
    display: inline-block;
    margin-top: 2em;
}

.rmbr_me{
    display: inline-block;
}

.rmbr_me_chkbx{
    cursor: pointer;
}

.frgt_pass{
    display: block;
    text-align: center;
    margin: 1em 0em;
    font-size: 0.9em;
    color: #0E8B8F;
    font-weight: bold;
}

.frgt_pass:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* .show_pass{
    padding-left: 10em;
    padding-right: 0em;
} */

.email,.pass{
    font-size: 1em;
    font-family: 'Playfair-display';
    display: block;
}

.signup_message{
    margin-top: 1em;
}

.sign_up{
    padding-left: 0.2em;
    text-decoration: none;
    color:#0E8B8F;
    font-weight: bold;
}

.sign_up:hover{
    text-decoration: underline;
}

.check_in_input,.check_out_input{
    width: 91%;
    padding:0.5em;
    font-size: 0.9em;
    font-family: 'Playfair-display';
}

#destination,.guest_menu{
    width: 100%;
    padding:0.5em;
    font-size: 1em;
    font-family: 'Playfair-display';
}

/*************USER REGISTRATION MODAL POP UP **************************/

.usr_rg{
    background-color: rgb(0, 0,0,0.8);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usr_rg_cntnts{
    background-color: white;
    padding: 2em 4em;
}

.fb_usr_frm, .ggl_usr_frm{
    color: #0E8B8F;
    text-decoration: none;
}

.fb_usr_frm:hover, .ggl_usr_frm:hover{
    text-decoration: underline;
}

.usr_rg_hddn{
    display: none;
}